@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-background: #ffffff;
    --color-background-alt: #eaeaea;
    --color-text: #283848;
    --color-text-alt: #356273;
    --color-accent: #f29937;
    --color-accent-alt: #af3800;

    --text-xs: 0.625rem;
    --text-s: 0.8rem;
    --text-m: 1rem;
    --text-l: 1.3rem;
    --text-xl: 1.9rem;
    --text-xxl: 2.4rem;
    --text-xxxl: 3.8rem;

    --text-line-height-s: 1;
    --text-line-height-m: 1.5;
    --text-line-height-l: 2;

    --size-m: 16px;
    --size-s: calc(var(--size-m) / 2);
    --size-l: calc(var(--size-m) * 2);

    --page-width: 1280px;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    margin: 0;
    font-family: "Heebo", sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
}
h1 {
    font-size: var(--text-xxxl);
    font-weight: 300;
    line-height: var(--text-line-height-m);
}
h1 b, h1 strong {
    font-weight: 500;
}
h2 {
    font-size: var(--text-xxl);
    font-weight: 300;
    line-height: var(--text-line-height-l);
}
h2 b, h2 strong {
    font-weight: 500;
}
h3 {
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: var(--text-line-height-l);
}
h3 b, h3 strong {
    font-weight: 800;
}
h4 {
    font-size: var(--text-xl);
    font-weight: 300;
    line-height: var(--text-line-height-l);
}
h4 b, h4 strong {
    font-weight: 500;
}
h5 {
    font-size: var(--text-l);
    font-weight: 600;
    line-height: var(--text-line-height-m);
}
h5 b, h5 strong {
    font-weight: 800;
}
h6 {
    font-size: var(--text-l);
    font-weight: 300;
    line-height: var(--text-line-height-m);
}
h6 b, h6 strong {
    font-weight: 500;
}
p, ul, ol, li {
    font-size: var(--text-m);
    font-weight: 300;
    line-height: var(--text-line-height-m);
}
p b, p strong, ul b, ul strong, ol b, ol strong, li b, li strong {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}
a:hover {
    color: var(--color-accent-alt);
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: var(--size-m) 0;
}
form label {
    font-size: var(--text-m);
    font-weight: 400;
    line-height: var(--text-line-height-s);
}
form * + label, form * + button {
    margin-top: var(--size-m);
}
form label + * {
    margin-top: var(--size-s);
}
form input, form textarea {
    border: 1px solid var(--color-text);
    border-radius: 0;
    font-family: "Heebo", sans-serif;
    font-size: var(--text-s);
    font-weight: 400;
    color: var(--color-text);
    background-color: var(--color-background);
    padding: var(--size-m);
}
form textarea {
    min-height: 150px;
}
form button {
    border: 1px solid var(--color-text);
    border-radius: 0;
    font-family: "Heebo", sans-serif;
    font-size: var(--text-m);
    font-weight: 400;
    background-color: var(--color-text);
    color: var(--color-background);
    padding: var(--size-s);
}
form button:hover {
    background-color: var(--color-text-alt);
}

.forge-logo img {
    object-fit: contain;
    height: calc(var(--size-m) * 2.5);
}

.page-block {
    margin: var(--size-m) 0;
    background-color: var(--color-background);
    width: 100%;
}
.page-block[style*="--background-image"] {
    background-image: var(--background-image);
    background-position: center center;
    background-size: cover;
}
.page-block > * {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: var(--size-m);
    box-sizing: border-box;
}
.page-block > .map {
    max-width: unset;
    width: 100%;
    padding: var(--size-m) 0 0 0;
}
.page-block > .map iframe {
    width: 100%;
    height: 400px;
    display: block;
    border: 0;
}
.page-block p.claim {
    text-align: center;
    font-size: var(--text-xxl);
    padding: calc(var(--size-l) * 2);
    max-width: calc(var(--page-width) * 0.75);
}
.page-block section > * + * {
    margin-top: var(--size-m);
}

.flexible-grid {
    --grid-gap: calc(var(--size-l) * 1.5);
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(max(var(--column-min-width), calc((100% - (var(--grid-gap) * (var(--max-columns) - 1))) / var(--max-columns))), 1fr));
}
.flexible-grid.col-w300 {
    --column-min-width: 300px;
}
.flexible-grid.col-2 {
    --max-columns: 2;
}
.flexible-grid.col-3 {
    --max-columns: 3;
}

header {
    border-bottom: 2px solid var(--color-accent);
}
header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width: 1px;
}
header .page-block:first-child {
    margin: 0;
}
header .page-block:first-child > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: var(--size-s) var(--size-m);
}
header .spacer {
    flex-grow: 1;
}
header nav {
    display: flex;
    align-items: center;
    max-width: 600px;
    flex-grow: 1;
}
header nav > a {
    flex-grow: 1;
    text-align: center;
    color: var(--color-text);
}
header nav > a:hover {
    color: var(--color-accent);
}

main .page-block:first-child {
    height: 100vh;
    margin-top: 0;
    color: var(--color-background);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
main .page-block:first-child > section {
    filter: drop-shadow(0px 0px var(--size-s) var(--color-text));
}
main .page-block:first-child a {
    display: inline-block;
    color: var(--color-background);
    border: 2px solid transparent;
    border-radius: 0.75em;
    padding: 0.5em 1.5em;
    font-size: var(--text-s);
    font-weight: 600;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s;
}
main .page-block:first-child a:hover {
    transform: scale(1.1);
}
main .page-block:first-child a:first-child {
    border-color: var(--color-background);
}
main .page-block:first-child a + a {
    margin-left: var(--size-m);
}
main .page-block:nth-child(2n+1) {
    background-color: var(--color-background-alt);
}

footer {
    font-size: var(--text-s);
    font-weight: 500;
    padding: var(--size-l) 0;
}
footer .page-block .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
footer .logo, footer .social {
    flex-grow: 1;
}
footer .logo {
    text-align: left;
}
footer .social {
    text-align: right;
    font-size: var(--text-xs);
}
footer .social a {
    padding: 1em;
    display: inline-block;
    color: var(--color-text);
}
footer .social a:hover {
    color: var(--color-text-alt);
}
footer .legal-info {
    text-align: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}
