@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-background: #ffffff;
    --color-background-alt: #eaeaea;
    --color-text: #283848;
    --color-text-alt: #356273;
    --color-accent: #f29937;
    --color-accent-alt: #af3800;

    --text-xs: 0.625rem;
    --text-s: 0.8rem;
    --text-m: 1rem;
    --text-l: 1.3rem;
    --text-xl: 1.9rem;
    --text-xxl: 2.4rem;
    --text-xxxl: 3.8rem;

    --text-line-height-s: 1;
    --text-line-height-m: 1.5;
    --text-line-height-l: 2;

    --size-m: 16px;
    --size-s: calc(var(--size-m) / 2);
    --size-l: calc(var(--size-m) * 2);

    --page-width: 1280px;
    --logo-height: 40px;
}
@media screen and (max-width: 640px) {
    :root {
        --text-l: 1.25rem;
        --text-xl: 1.45rem;
        --text-xxl: 1.9rem;
        --text-xxxl: 2.4rem;

        --text-line-height-l: 1.8;

        --size-m: 12px;
    }
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    margin: 0;
    font-family: "Heebo", sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote, figure {
    margin: 0;
}
h1 {
    font-size: var(--text-xxxl);
    font-weight: 300;
    line-height: var(--text-line-height-m);
}
h1 b, h1 strong {
    font-weight: 500;
}
h2 {
    font-size: var(--text-xxl);
    font-weight: 300;
    line-height: var(--text-line-height-l);
}
h2 b, h2 strong {
    font-weight: 500;
}
h3 {
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: var(--text-line-height-l);
}
h3 b, h3 strong {
    font-weight: 800;
}
h4 {
    font-size: var(--text-xl);
    font-weight: 300;
    line-height: var(--text-line-height-l);
}
h4 b, h4 strong {
    font-weight: 500;
}
h5 {
    font-size: var(--text-l);
    font-weight: 600;
    line-height: var(--text-line-height-m);
}
h5 b, h5 strong {
    font-weight: 800;
}
h6 {
    font-size: var(--text-l);
    font-weight: 300;
    line-height: var(--text-line-height-m);
}
h6 b, h6 strong {
    font-weight: 500;
}
p, ul, ol, li {
    font-size: var(--text-m);
    font-weight: 300;
    line-height: var(--text-line-height-m);
}
p b, p strong, ul b, ul strong, ol b, ol strong, li b, li strong {
    font-weight: 500;
}
p a, li a {
    font-weight: 400;
    text-decoration: underline;
}
p a strong, p strong a, li a strong, li strong a {
    font-weight: 600;
}
blockquote {
    font-family: Georgia, serif;
    font-style: italic;
}
cite {
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--color-accent-alt);
}
a:visited {
    color: var(--color-text-alt);
}
a:hover {
    color: var(--color-accent);
}
a.cta {
    display: block;
    padding: var(--size-s) 0;
    margin: var(--size-l) auto;
    width: fit-content;
    border-bottom: 1px solid;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: var(--size-m) 0;
}
form label {
    font-size: var(--text-m);
    font-weight: 400;
    line-height: var(--text-line-height-s);
}
form * + label, form * + button {
    margin-top: var(--size-m);
}
form label + * {
    margin-top: var(--size-s);
}
form input, form textarea {
    border: 1px solid var(--color-text);
    border-radius: 0;
    font-family: "Heebo", sans-serif;
    font-size: var(--text-s);
    font-weight: 400;
    color: var(--color-text);
    background-color: var(--color-background);
    padding: var(--size-m);
}
form textarea {
    min-height: 150px;
}
form button {
    border: 1px solid var(--color-text);
    border-radius: 0;
    font-family: "Heebo", sans-serif;
    font-size: var(--text-m);
    font-weight: 400;
    background-color: var(--color-text);
    color: var(--color-background);
    padding: var(--size-s);
}
form button:hover {
    background-color: var(--color-text-alt);
}

.forge-logo img {
    object-fit: contain;
    height: var(--logo-height);
}
.forge-logo a {
    line-height: 0;
    display: block;
}

.page-block {
    margin: var(--size-m) 0;
    background-color: var(--color-background);
    width: 100%;
}
.page-block[style*="--background-image"] {
    background-image: var(--background-image);
    background-position: center center;
    background-size: cover;
}
.page-block > * {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: var(--size-l);
    box-sizing: border-box;
}
.page-block > .map {
    max-width: unset;
    width: 100%;
    padding: var(--size-m) 0 0 0;
}
.page-block > .map iframe {
    width: 100%;
    height: 400px;
    display: block;
    border: 0;
}
.page-block p.claim {
    text-align: center;
    font-size: var(--text-xxl);
    padding: calc(var(--size-l) * 2);
    max-width: calc(var(--page-width) * 0.75);
}
.page-block section > * + * {
    margin-top: var(--size-m);
}
.page-block section > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.flexible-grid {
    --grid-gap: calc(var(--size-l) * 1.5);
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(max(var(--column-min-width), calc((100% - (var(--grid-gap) * (var(--max-columns) - 1))) / var(--max-columns))), 1fr));
}
.flexible-grid.col-w300 {
    --column-min-width: 300px;
}
.flexible-grid.col-2 {
    --max-columns: 2;
}
.flexible-grid.col-3 {
    --max-columns: 3;
}
@media screen and (max-width: 640px) {
    .flexible-grid {
        --column-min-width: 0 !important;
    }
}

header {
    user-select: none;
    border-bottom: 2px solid var(--color-accent);
    z-index: 100;
}
header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width: 1px;
}
header .page-block:first-child {
    margin: 0;
}
header .page-block:first-child > div {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: var(--size-m) var(--size-l);
}
header .spacer {
    flex-grow: 1;
}
header label.mobile-menu-button, header input.mobile-menu-button {
    display: none;
}
header nav {
    display: flex;
    align-items: center;
    max-width: 600px;
    flex-grow: 1;
}
header nav > a {
    flex-grow: 1;
    text-align: center;
    color: var(--color-text);
}
header nav > a:hover {
    color: var(--color-accent);
}
@media screen and (max-width: 800px) {
    header label.mobile-menu-button {
        display: flex;
        align-items: center;
    }
    header label.mobile-menu-button > .fa-times {
        display: none;
    }
    header input.mobile-menu-button:checked ~ label.mobile-menu-button > .fa-bars {
        display: none;
    }
    header input.mobile-menu-button:checked ~ label.mobile-menu-button > .fa-times {
        display: block;
    }
    header nav {
        display: none;
        position: absolute;
        top: calc(var(--logo-height) + var(--size-m) * 2);
        left: 0;
        right: 0;
        max-width: unset;
        z-index: 1;
        padding: var(--size-m) var(--size-l);
        background: var(--color-background-alt);
        border-bottom: 2px solid var(--color-accent);
    }
    header.sticky nav {
        border-bottom-width: 1px;
    }
    header input.mobile-menu-button:checked ~ nav {
        display: block;
    }
    header nav > a {
        display: block;
        margin: var(--size-m) 0;
    }
}

nav.breadcrumbs {
    padding: var(--size-s) 0;
    width: 100%;
}
nav.breadcrumbs ol {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 var(--size-l);
    box-sizing: border-box;
    list-style-type: none;
}
nav.breadcrumbs ol li {
    display: inline-block;
    font-size: var(--text-s);
}
nav.breadcrumbs ol li + li:before {
    content: '>';
    display: inline-block;
    padding: 0 var(--size-s);
}

main .page-block.alt-back {
    background-color: var(--color-background-alt);
}
main .page-block.full-page {
    min-height: 100vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
main .page-block > section.overlay {
    color: var(--color-background);
    filter: drop-shadow(0px 0px var(--size-s) var(--color-text));
}
main .page-block > section.overlay a {
    display: inline-block;
    color: var(--color-background);
    border: 2px solid transparent;
    border-radius: 0.75em;
    padding: 0.5em 1.5em;
    font-size: var(--text-s);
    font-weight: 600;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s;
}
main .page-block > section.overlay a:hover {
    transform: scale(1.1);
}
main .page-block > section.overlay a:first-child {
    border-color: var(--color-background);
}
main .page-block > section.overlay a + a {
    margin-left: var(--size-m);
}

footer {
    font-size: var(--text-s);
    font-weight: 500;
    padding: var(--size-l) 0;
}
footer .page-block .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
footer .logo, footer .social {
    flex-grow: 1;
}
footer .logo {
    text-align: left;
}
footer .social {
    text-align: right;
    font-size: var(--text-xs);
}
footer .social a {
    padding: 1em;
    display: inline-block;
    color: var(--color-text);
}
footer .social a:hover {
    color: var(--color-text-alt);
}
footer .legal-info {
    text-align: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.person-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    position: relative;
}
.person-box::before {
    content: '\201c';
    color: var(--color-background-alt);
    font-family: Georgia, serif;
    font-size: 50rem;
    line-height: 0.95;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.person-box > * {
    z-index: 2;
}
.person-box > * + * {
    margin-top: var(--size-m);
}
.person-box img {
    height: calc(var(--size-l) * 4);
    width: calc(var(--size-l) * 4);
    object-fit: contain;
    border-radius: 50%;
}

.slider-glider {
    max-width: max(600px, 70%);
    margin: auto;
}
.slider-glider .glider + .dots {
    margin: var(--size-m) 0;
}
.slider-glider .glider + .dots .glider-dot {
    background-color: var(--color-background-alt);
}
.slider-glider .glider + .dots .glider-dot.active {
    background-color: var(--color-accent);
}
