:root {
    --color-brand-white: #FFFFFF;
    --color-brand-blue: #226CE0;
    --color-brand-blue-light: #D4E6FF;
    --color-brand-blue-dark: #2751E4;
    --color-brand-orange: #F08819;
    --color-brand-orange-dark: #D37918;
    --color-gradient-1: var(--color-brand-blue);
    --color-gradient-2: #80D0C7;
    
    --gradient-angle: 150deg;
}

/* Highlight Color */
::selection { color: var(--color-brand-white); background: var(--color-brand-blue); }
::-moz-selection { color: var(--color-brand-white); background: var(--color-brand-blue); }
.bg-brand, .bg-grad::selection { color: var(--color-brand-blue); background: var(--color-brand-white); }
.bg-brand, .bg-grad::-moz-selection { color: var(--color-brand-blue); background: var(--color-brand-white); }

/* Color */
a, .navbar-top a:hover, .dropdown-item:active, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .btn-link, .portfolio-card .portfolio-card-body .portfolio-card-footer .info-title a:hover, .post .post-info a:hover, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active, .icon-primary i:before, .footer-dark .widget a:hover, .portfolio .nav .nav-tabs .nav-filter.active, .team-item .team-position, .list-group-item-action:hover, .list-group-item-action:focus, .hamburger-menu label a:hover, .breadcrumb .breadcrumb-item a:hover i, .post-item .post-item-desc .post-meta a:hover, .post-item .post-item-desc h4 a:hover, .post-item .item-link:hover, .post-item .post-quote > blockquote:before, .page-link:hover, .sidebar .widget .widget-post .details a:hover, .sidebar .widget a:hover, .list-group-borderless a.list-group-item:hover, .tags a:hover, .post-navigation .post-prev:hover:before, .post-navigation .post-prev:hover h6, .post-navigation .post-prev:hover p, .post-navigation .post-next:hover:before, .post-navigation .post-next:hover h6, .post-navigation .post-next:hover p, .post-navigation .all-post:hover, .btn-outline-grad { color: var(--color-brand-blue); }

/* Checkbox */
.custom-control-input:checked ~ .custom-control-label::before {
    color: var(--color-brand-blue);
    border-color: var(--color-brand-blue);
    background-color: var(--color-brand-blue);
}

/* Navbar Dark link colors */
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus { color: var(--color-brand-blue); }
.list-group-icon-primary-bg i { background-color: var(--color-brand-blue-light); color: var(--color-brand-blue); }

.btn-link:hover, a:hover { color: var(--color-brand-blue-dark); }
.post .post-tag a:hover, .portfolio-style-2 .portfolio-card .portfolio-card-footer .info-title a:hover, .portfolio .nav .nav-tabs-style-3 .nav-filter.active, .portfolio .nav .nav-tabs-style-2 .nav-filter.active, .portfolio .nav .nav-tabs-style-4 .nav-filter.active { color: var(--color-brand-white); }
a.text-primary:hover, a.text-primary:focus, .primary-hover li:hover {
    color: #0361e5 !important;
}

.nav-tabs.tab-line .nav-link.active {
    color: var(--color-brand-blue);
    border-bottom: 2px solid var(--color-brand-blue);
}

/* Color important */
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .primary-hover a:hover, .text-primary, a.primary-hover:hover { color: var(--color-brand-blue) !important; }

/* Primary Button */
.btn-outline-primary {
    color: var(--color-brand-white);
    border-color: var(--color-brand-white);
}
.btn-outline-primary:hover {
    color: var(--color-brand-white);
    background-color: var(--color-brand-orange-dark);
    border-color: var(--color-brand-orange-dark);
}

/* Background */
.navbar-primary.navbar-sticky-on { background-color: var(--color-brand-white); }
.owl-carousel.dots-primary .owl-dots .owl-dot span {
    box-shadow: inset 0 0 0 2px var(--color-brand-blue);
}
.owl-carousel.dots-primary .owl-dots .owl-dot span:after, .cd-headline.big-clip .cd-words-wrapper::after { background-color: var(--color-brand-blue); }
.bg-primary { background: var(--color-brand-blue) !important; }
.accordion.toggle-icon-round .accordion-title a:after { background: var(--color-brand-blue); }
.accordion-primary .accordion-title, .cd-headline.clip .cd-words-wrapper::after, .cd-headline.loading-bar .cd-words-wrapper::after { background: var(--color-brand-blue); }

.btn-primary { background: var(--color-brand-orange); border-color: var(--color-brand-orange); }
.btn-primary:hover { background: var(--color-brand-orange-dark); border-color: var(--color-brand-orange-dark); }
.skill-item .progress-bar, .nav-tabs .nav-link.active, .nav-tabs.tab-bordered .nav-link.active { background-color: var(--color-brand-blue); }

/* Border Color */
.form-control:focus, .feature-box.f-style-3:hover { border-color: var(--color-brand-blue); }
.form-select:focus {border-color: var(--color-brand-blue);}
.btn-link:after { border-bottom: solid 2px var(--color-brand-blue-dark); }
.primary-border-start-dotted {
    border-left: dashed 1px var(--color-brand-blue);
}
.form-check-input:checked {
    background-color: var(--color-brand-blue);
    border-color: var(--color-brand-blue);
}
.testimonials.testimonials-border .testimonials-wrap:hover .testi-text p { border: 3px solid var(--color-brand-blue); }
.testimonials.testimonials-border .testimonials-wrap:hover .testi-text p:before {
    border-color: var(--color-brand-blue) transparent transparent;
}
.tags a:hover {
    border: 1px solid var(--color-brand-blue);
}
.portfolio .nav .nav-tabs-style-1 .nav-filter.active { border-color: var(--color-brand-blue); }
.blockquote.primary-line {
    border-left: 5px solid var(--color-brand-blue);
}

/* Gradient Text */
.text-grad, .counter-grad-text .counter-item-icon, .counter-grad-text .counter-item-digit {
    background: -moz-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--color-gradient-1)), color-stop(100%, var(--color-gradient-2)));
    background: -webkit-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -o-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -ms-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    text-fill-color: transparent;
}

/* Gradient Background */
.bg-grad, .skill.skill-grad .progress-bar, .nav-tabs.tab-grad .nav-link.active, .portfolio-style-2 .portfolio-card .portfolio-card-header:before, .portfolio-style-2 .portfolio-card:hover .portfolio-card-header:before, .team.team-overlay .team-item .team-avatar:before, .team.team-overlay .team-item:hover .team-avatar:before, .pricing .ribbon span, .portfolio .nav .nav-tabs-style-3 .nav-filter a.active, .portfolio .nav .nav-tabs-style-2 .nav-filter a.active, .portfolio .nav .nav-tabs-style-4 .nav-filter a.active {
    background: -moz-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--color-gradient-1)), color-stop(100%, var(--color-gradient-2)));
    background: -webkit-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -o-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -ms-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
}
.btn-grad, .btn-outline-grad:before {
    background: -moz-linear-gradient(var(--gradient-angle), var(--color-gradient-2) 0%, var(--color-gradient-1) 50%, var(--color-gradient-2) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--color-gradient-2)), color-stop(50%, var(--color-gradient-1)), color-stop(100%, var(--color-gradient-2)));
    background: -webkit-linear-gradient(var(--gradient-angle), var(--color-gradient-2) 0%, var(--color-gradient-1) 50%, var(--color-gradient-2) 100%);
    background: -o-linear-gradient(var(--gradient-angle), var(--color-gradient-2) 0%, var(--color-gradient-1) 50%, var(--color-gradient-2) 100%);
    background: -ms-linear-gradient(var(--gradient-angle), var(--color-gradient-2) 0%, var(--color-gradient-1) 50%, var(--color-gradient-2) 100%);
    background: linear-gradient(var(--gradient-angle), var(--color-gradient-2) 0%, var(--color-gradient-1) 50%, var(--color-gradient-2) 100%);
    background-size: 260% 100%;
    background-position: right bottom;
}
.icon-grad i:before {
    background: -moz-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--color-gradient-1)), color-stop(100%, var(--color-gradient-2)));
    background: -webkit-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -o-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -ms-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    text-fill-color: transparent;
}

.accordion-grad .accordion-title a, .blockquote.grad-line:after, .feature-box.f-style-1:before {
    background: -moz-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--color-gradient-1)), color-stop(100%, var(--color-gradient-2)));
    background: -webkit-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -o-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -ms-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
}

.divider-grad:before {
  background: -moz-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--color-gradient-1)), color-stop(100%, var(--color-gradient-2)));
  background: -webkit-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
  background: -o-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
  background: -ms-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
  background: linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
}

.divider-grad:after {
  background: -moz-linear-gradient(var(--gradient-angle), var(--color-gradient-2) 0%, var(--color-gradient-1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--color-gradient-2)), color-stop(100%, var(--color-gradient-1)));
  background: -webkit-linear-gradient(var(--gradient-angle), var(--color-gradient-2) 0%, var(--color-gradient-1) 100%);
  background: -o-linear-gradient(var(--gradient-angle), var(--color-gradient-2) 0%, var(--color-gradient-1) 100%);
  background: -ms-linear-gradient(var(--gradient-angle), var(--color-gradient-2) 0%, var(--color-gradient-1) 100%);
  background: linear-gradient(var(--gradient-angle), var(--color-gradient-2) 0%, var(--color-gradient-1) 100%);
}

@media only screen and (min-width:992px) {
	.navbar-nav .dropdown-menu:before {
		background: -moz-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--color-gradient-1)), color-stop(100%, var(--color-gradient-2)));
    background: -webkit-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -o-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: -ms-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
    background: linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
	}
}

/*SVG fill color*/
.fill-grad-start { stop-color: var(--color-gradient-1); }
.fill-grad-end { stop-color: var(--color-gradient-2); }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .icon-grad i::before{ background: none; color: var(--color-brand-blue) !important; }
  .text-grad{  background: none; color: var(--color-brand-blue) !important; }
}

/* Tiny slider dots */
  .dots-primary .tns-nav [data-nav] {
    -webkit-box-shadow: inset 0 0 0 2px var(--color-brand-blue);
    box-shadow: inset 0 0 0 2px var(--color-brand-blue);
}
.dots-primary .tns-nav [data-nav]:after {
    background-color: var(--color-brand-blue);
    -webkit-box-shadow: 0 0 1px var(--color-brand-blue);
    box-shadow: 0 0 1px var(--color-brand-blue);
}

/*  accordion */
.accordion-button:not(.collapsed){
    background-color: rgb(6, 106, 249, 0.2);
    color:var(--color-brand-blue);
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232654e0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
.accordion.accordion-line .accordion-header .accordion-button:before {
    background-color: var(--color-brand-blue);
}
.accordion.accordion-icon-primary .accordion-header .accordion-button {
    background: var(--color-brand-blue);
}
.accordion.accordion-icon-gradient .accordion-header .accordion-button:not(.collapsed) {
    background: -moz-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%) !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--color-gradient-1)), color-stop(100%, var(--color-gradient-2))) !important;
    background: -webkit-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%) !important;
    background: -o-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%) !important;
    background: -ms-linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%) !important;
    background: linear-gradient(var(--gradient-angle), var(--color-gradient-1) 0%, var(--color-gradient-2) 100%) !important;
}

/* Portfolio style 2 */
.portfolio-style-2 .nav .nav-tabs-style-1 .nav-filter a.active {
    color: var(--color-brand-blue);
    border-color: var(--color-brand-blue);
}
.portfolio-link .nav .nav-tabs .nav-filter a.active {
    color: var(--color-brand-blue);
}