name: Build Site
on:
  push:
    branches:
      - main
    paths-ignore:
      - '/serverless'

  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Cache NPM packages
        uses: actions/cache@v2
        with:
          path: /node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('package.json') }}
          restore-keys: ${{ runner.os }}-npm
      - name: Build
        run: |
          npm install
          npm run generate
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
          cname: forge-srl.it
