name: Build Site
on:
  push:
    branches:
      - main
    paths:
      - '/serverless'

  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Build
        env:
          FIREBASE_TOKEN: ${{ secrets.FORGE_SRL_FIREBASE_TOKEN }}
        run: |
          cd /serverless/functions
          npm install -g firebase-tools
          npm install
          npm run deploy:ci